* {
	font-family: 'Roboto', sans-serif;
}

.logo {
    text-align: center;
}

#contenu-home {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 30px;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #57b487;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;


}

.copyright {
    color:white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-right: 30px;
}

#formulaire {
    text-align: center;
}

#inscription {
    margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

#formulaire {
    width: 100%;
}

#add_tuto {
    margin-top: 30px;
}

.red {
    color: red;
}

.recherche {
    margin-top: 30px;
    margin-bottom: 30px;
	margin-left: 10px;
    text-align: center;
}



.button {
	-moz-box-shadow: 0px 0px 0px 0px #57b487;
	-webkit-box-shadow: 0px 0px 0px 0px #57b487;
	box-shadow: 0px 0px 0px 0px #57b487;
	background-color:#57b487;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #57b487;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #57b487;
}
.button:hover {
	background-color:#649c80;
}



.buttondelete {
	-moz-box-shadow: 0px 0px 0px 0px #d93c3c;
	-webkit-box-shadow: 0px 0px 0px 0px #d93c3c;
	box-shadow: 0px 0px 0px 0px #d93c3c;
	background-color:#d93c3c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d93c3c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d93c3c;
}
.buttondelete:hover {
	background-color:#b83232;
}




#selector {
	margin-top: 30px;
}

.tutoElement {
	border: 5px solid #57b487;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 0px;
	border-radius: 30px;
}

h1 {
	color: #57b487;
}

#nom-tuto {
	margin-left: 15px;
	margin-right: 15px;
}

input[type=text] {
    border: 2px solid #57b487;
    border-radius: 4px;
	width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}